*{
    font-family: "Sen", sans-serif;
    font-weight: 100;
}

.nav__responsive-ul {
    display: none;
}
.nav{
    background-color: slateblue;
}
.nav__li{
    display: inline-block;
    padding: 12px;
    color: #fff;
}
.nav__li:hover > a{
    color: #ccc;
}
.nav__li:hover{
    color: #ccc;
}
.nav__li a{
    color: #fff;
    text-decoration: none;
}
.nav__li i {
    width: 30px;
    box-sizing: border-box;
    text-align: right;
    margin-right: 5px;
}
.nav__responsive-button{
    float: right;
    font-size: 25px;
    padding: 6px 20px;
}

@media only screen and ( max-width: 500px ) {
    .nav__ul{
        display: none;
    }
    .nav__responsive-ul{
        display: block;
        position: absolute;
        width: 100%;
        background-color: slateblue;
    }
    .nav {
        height: 37px;
        width: 100px;
    }
}
