* {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-size: 20px;
    display: inline-block;
}
div{
    width: 49%;
    
}
.caja2{
    background-color: #bbb;
}
.caja1{
    background-color: rgb(190,190,100);
}
@media only screen and (max-width: 800px){
    div{
        display: block;
        width: 100%;
    }
}
