*{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
}
div {
    background-color: blue;
    width: 120px;
    height: 120px;
    display: block;
    background: yellow;
}
.caja1{
    background: blue;
    top: 20px;
}
.caja2{
    background: red;
    position:relative;
   top: 60px;
   left:20px;
   z-index: 1;
}
.caja3{
    background: skyblue;
    position: relative;
}
.caja4{
    background: firebrick;
}
.contenedor{
    width:300px;
    height:300px;
    background:blue;
    margin:40px;
    position:relative;
}
.hijo{
    background: orange;
    height: 120px;
    width: 120px;
   position: relative;
    top: -20px;
    left:-20px;
    z-index: -1;
}